<!DOCTYPE html>
<html>
<head>
	<title>Add contact</title>
</head>
<body>
	<h1>Create New Contact</h1>

	<form action="/contacts" method="post">
		<input type="text" name="first_name">
		<input type="text" name="last_name">
		<input type="text" name="email">
		<input type="text" name="note">
		<input type="submit" name="Submit">
	</form>

	<h3><a href="/contacts">Show all contacts</a></h3>
	<h3><a href="/">Return to Main Menu</a></h3>
</body>
</html>



