<img src="/main_logo_small_blue.png" class="small_main_logo">

<div class="all_contacts_nav_box"></div>

<div class="create_new">
	<h1>ALL CONTACTS</h1>

<p class="inline">FIRST NAME</p>
<P class="inline">LAST NAME</P>
<p class="inline">EMAIL</p>
<P class="inline">NOTE</P>

	<ol>
		<% $rolodex.contacts.each do |contact| %>
		<li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %></li>
		<% end %>
	</ol>

</div>

<div class="under_score_all_contact"></div>
<h3 class="left_just_add_contacts"><a href="/contacts/new">To add a contact</a></h3>
<h3 class="return_to_main"><a href="/">Return to Main Menu</a></h3>
