<h1>All Contacts</h1>

<ol>
	<% $rolodex.contacts.each do |contact| %>
	<li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %></li>
	<% end %>
</ol>

<h3><a href="/contacts/new">To add a contact</a></h3>
<h3><a href="/">Return to Main Menu</a></h3>
