<img src="/main_logo_small_blue.png" class="small_main_logo">

<div class="new_contact_nav_box"></div>

<div class="create_all">
	<h1>CREATE A NEW CONTACT</h1>
<form action="/contacts" method="post">
	<input type="text" name="first_name" placeholder="First Name">
	<input type="text" name="last_name" placeholder="Last Name">
	<input type="text" name="email" placeholder="Email Address">
	<input type="text" name="note" placeholder="Notes">
	<input type="submit" name="Submit" class="blue_button">
</form>
</div>


<div class="under_score_new_contact"></div>
<!-- <h3><a href="/contacts">Show all contacts</a></h3> -->
<h3 class="return_to_main"><a href="/">Return to Main Menu</a></h3>