<img src="/main_logo_small_blue.png" class="small_main_logo">

<div class="delete_contact_nav_box"></div>

<div class="create_delete">
	<h1>WHO DO YOU WANT TO DELETE?</h1>

	<p class="inline_id">ID #</p>

	<form action="/contacts/remove" method="post">
		<input type="text" name="id" placeholder="id">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" name="Submit" class="blue_button">
	</form>
</div>


<div class="under_score_all_contact"></div>

<h3 class="return_to_main"><a href="/">Return to Main Menu</a></h3>
