<img src="/hi_bitmaker_small.png" class="small_main_logo">

<div class="edit_contact_nav_box"></div>

<div class="create_all">
	<h1>PICK A CONTACT TO EDIT</h1>

	<div class="over_score_all_contact"></div>

	<form action="/contacts/mod" method="post">
		ID NUMBER<input type="text" name="id" placeholder="id">
		<input type="submit" name="Submit" class="blue_button">
	</form>
</div>

<div class="under_score_all_contact"></div>

<h3 class="return_to_main"><a href="/">Return to Main Menu</a></h3>