<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
</head>
<body>
	<h1>Welcome to <%= @crm_app_name %></h1>
	<h3>Main Menu</h3>
	<ul>
		<li><a href="/contacts">View all contacts</a></li>
		<li><a href="/contacts/new">To add a contact</a></li>
	</ul>
</body>
</html>

