<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>CRM APP</title>
</head>


	<header>
		<p>BITMAKER LABS</p>
		<img src="/bitmaker_logo_small.png">
	</header>

<body>

	<div class="left">
	<h3 class="nav_menu">NAVIGATE</h3>
	<div class="under_score"></div>
		<ul>
			<li><a href="/contacts">View all contacts</a></li>
			<li><a href="/contacts/new">Add a contact</a></li>
			<li><a href="/contacts/new">Modify a contact</a></li>
			<li><a href="/contacts/new">Display a contact</a></li>
			<li><a href="/contacts/new">Display one contact</a></li>
			<li><a href="/contacts/new">Delete a contact</a></li>
		</ul>
	</div>

	<div class= "right"> 
		<%= yield %>	
	</div>

</body>




<div class="footer">
	<footer>
		<p>DAKODA REID</p>
	</footer>
</div>

</html>
