<!DOCTYPE html>
<html>
	<head>
		<title>CRM APP</title>
	</head>

	<header>
		<h5>This is the header for now</h5>
		<p>I might add some text here later</p>
	</header>
	<body>
		<%= yield %>	
	</body>

	<footer>
		<h5>This is the footer for now</h5>
		<p>I might add some text here later also</p>
	</footer>
</html>
