html {
	font-family: sans-serif;
}

@font-face {
    font-family: Montserrat-Regular;
    src: /Montserrat-Regular.ttf;
}

@font-face {
	font-family: Roboto-Regular;
	src: /Roboto-Regular.ttf;
}

header {
	z-index: 1;
	position: fixed;
	margin-top: 0px;
	height: 40px;
	line-height: 30px;
	width: 100%;
	background-color: #3bb9da;
}

header p {
	font-family: Montserrat-Regular;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	color: white;
	font-size: 15px;
}

header img {
	height: 30px;
	float: right;
	vertical-align: top;
	margin-right: 12px;
	margin-top: 4px;

}

.main_image_specs {
	margin-left: 20%;
	margin-top: 125px;
	width: 50%;
}

/*div div img {

}*/

.left {
	float: left;
	background-color: #efefef ;
/*	border-right:1px solid #e2e2e2;*/
	height:750px;
	width:200px;
	margin-left: 0px;
	text-decoration: none;
}

.nav_menu {
	font-family: Montserrat-Regular;
	margin-top: 85px;
	color: #5b5b5b;
}

.under_score {
	float: left;
	height: 5px;
	width: 100%;
	background-color: #efefef;
	border-top: 1px solid #e1e1e1

}

div h3 {
	font-size: 25px;
	color: #363636;
	margin-top: 35px;
	margin-right: 10px;
	margin-bottom: 15px;
/*	margin-left: 15px;*/
	text-align: center;
}
.right {
	float: right;
	background-color: white ;
	height:750px;
	width:80%;
}

.home_line {
	float: right;
	margin-right: 25%;
	margin-top: 1%;
	width: 60%;
	border-top: 1px solid #e1e1e1;
	height: 20%;
}

a{
	text-decoration: none;
}

a:visited {
	color: #5b5b5b;
}

a:hover {
	color: #3bb9da;
}

ul {
	list-style-type: none;
	float: left;
	font-color: #5b5b5b;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 8%;
	font-family: Roboto-Regular;
	padding: 0px
}

li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.footer {
	clear: both;
	height: 50px;
	width: 100%;
	background-color: #e2e2e2;
	margin-bottom: 0px; 
	line-height: 50px;
/*	text-align: center;*/
}

div footer p {
	text-align: right;
	font-family: Montserrat-Regular;
	margin-right: 10px;
/*	margin-top: 5px;*/
	color: #3bb9da;
	font-size: 20px;
}
