html {
	font-family: sans-serif;
}

@font-face {
	font-family: Montserrat-Regular;
	src: /Montserrat-Regular.ttf;
}

@font-face {
	font-family: Roboto-Regular;
	src: /Roboto-Regular.ttf;
}

header {
	z-index: 1;
	position: fixed;
	margin-top: 0px;
	height: 40px;
	line-height: 30px;
	width: 100%;
	background-color: #3bb9da;
}

header p {
	font-family: Montserrat-Regular;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	color: white;
	font-size: 15px;
}

header img {
	height: 30px;
	float: right;
	vertical-align: top;
	margin-right: 12px;
	margin-top: 4px;

}

.main_image_specs {
	/*margin-left: 20%;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 125px;
	width: 50%;
}

.left {
	float: left;
	background-color: #efefef ;
	height:750px;
	width:200px;
	margin-left: 0px;
	text-decoration: none;
}

.nav_menu {
	font-family: Montserrat-Regular;
	margin-top: 60px;
	color: #5b5b5b;
}

.under_score {
	float: left;
	height: 5px;
	width: 100%;
	background-color: #efefef;
	border-top: 1px solid #e1e1e1

}

.under_score_new_contact {
	margin-right: auto;
	margin-left: auto;
	margin-top: 15%;
	width: 70%;
	border-top: 1px solid #e1e1e1;
	height: 2px;
}

.under_score_all_contact {
	margin-right: auto;
	margin-left: auto;
	margin-top: 15%;
	width: 70%;
	border-top: 1px solid #e1e1e1;
	height: 2px;
}

div h3 {
	font-size: 25px;
	color: #363636;
	margin-top: 35px;
	margin-right: 10px;
	margin-bottom: 15px;
	text-align: center;
}

.right {
	/*float: right;*/
	margin-left: 200px;
	margin-right: 0px;
	background-color: white ;
	height:750px;
	width:80%;
	min-width: 1020px;
}

.home_line {
	/*float: right;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 60%;
	border-top: 1px solid #e1e1e1;
	height: 20%;
}

.create_new {
	padding-top: 125px;
	text-align: center;
}

.create_all {
	padding-top: 125px;
	text-align: center;
}

.return_to_main {
	float: right;
	margin-top: 10px;
	margin-right: 15%;
	font-family: Roboto-Regular;
	width: 260px;
}

.left_just_add_contacts {
	float: left;
	margin-top: 10px;
	margin-left: 15%;
	font-family: Roboto-Regular;
}

div h1 {
	font-family: Montserrat-Regular;
	color: #5b5b5b;
	font-size: 40px;
}

.inline {
	display: inline-block;
}

ul {
	list-style-type: none;
	float: left;
	font-color: #5b5b5b;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 8%;
	font-family: Roboto-Regular;
	padding: 0px
}

li {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

ol {
		font-family: Roboto-Regular;
		padding-top: 5px;
		padding-bottom: 5px;
		color: #5b5b5b;
		margin-left: 25%;
}


a{
	text-decoration: none;
}

a:visited {
	color: #5b5b5b;
}

a:hover {
	color: #3bb9da;
}

.footer {
	clear: both;
	height: 50px;
	width: 100%;
	background-color: #e2e2e2;
	margin-bottom: 0px; 
	line-height: 50px;
}

div footer p {
	text-align: right;
	font-family: Montserrat-Regular;
	margin-right: 10px;
	color: #3bb9da;
	font-size: 20px;
}

.small_main_logo {
	float: right;
	/*margin-right: 10px;*/
	position: relative;
	left: 130px;
	padding-top: 60px;
	width: 200px;
}

.blue_button {
/*  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;*/
  box-sizing: content-box;
  width: 75px;
  height: 20px;
  cursor: pointer;
  margin-left:5px;
  margin-right: 5px;
  border: 2px solid #3bb9da;
  border-radius: 25px;
  font-size: 12px;
  font-family: Roboto-Regular;
  color: #3bb9da;
  text-align: center;
  overflow: clip;
  overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
}